/* Standardized Buttons */

.btn-primary,
.btn-secondary,
.btn-tertiary {
  position: relative;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding: 15px 30px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  border-radius: 9px;
  /* Rounded Corners */
  border: none;
  cursor: pointer;
}

.btn-secondary.small,
.btn-tertiary.small {
  font-size: 14px;
  padding: 10px 20px;
}

.btn-primary.small {
  font-size: 14px;
  padding: 10px 40px 10px 22px;
}

.btn-primary {
  background: linear-gradient(90deg, var(--vivid-blue) 0%, #0088ff 100%);
  color: var(--white);
  padding: 15px 60px 15px 30px;
  /* With space for arrow if needed */
}

.btn-primary.small::after {
  width: 8px;
  height: 16px;
  right: 20px;
}

.btn-primary::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  width: 9px;
  height: 18px;
  background-image: url("/buttons/white_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: right 0.3s ease-in-out;
}

.btn-primary.small:hover::after {
  right: 15px;
}

.btn-primary:hover::after {
  right: 30px;
}

.btn-primary.no-arrow {
  padding: 15px 30px;
}

.blue-link.no-arrow::before {
  display: none;
}

.btn-primary.no-arrow::after {
  display: none;
}

.btn-secondary {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.btn-secondary:hover {
  background: var(--black);
  color: var(--white);
}

.btn-tertiary {
  background: var(--gray);
  color: var(--black);
  border: 1px solid var(--black);
  box-shadow: 0px 2px 6px 2px #3c404326;
}

.btn-tertiary:hover {
  background: var(--white);
  color: var(--black);
}

/* Small Variants */
.btn-small {
  font-size: 14px;
  padding: 10px 20px;
}

.btn-primary.btn-small {
  padding: 10px 50px 10px 22px;
}

.btn-primary.btn-small::after {
  width: 8px;
  height: 16px;
  right: 25px;
}

.btn-primary.btn-small:hover::after {
  right: 15px;
}

.btn-primary.btn-small.no-arrow {
  padding: 10px 20px;
}

/* Responsive Font Sizes */
@media (min-width: 992px) and (max-width: 1279px) {

  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    font-size: 16px;
  }
}

@media (max-width: 767px) {

  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    font-size: 15px;
  }
}